<footer class="footer">
    <div class="content has-text-centered">
        <span class="has-text-black">Denne side er lavet som et fritids projekt til at få et overblik over danske hundeskove</span>
    </div>
</footer>